In [1]:
#imports
import pandas as pd
import numpy as np
from sklearn import cluster

In [5]:
data = pd.read_csv("data/lotissements.csv",sep=';') 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 32 columns):
Geo Point     444 non-null object
Geo Shape     444 non-null object
objectid      445 non-null int64
id_lot        445 non-null int64
codcom        445 non-null int64
surfha        376 non-null float64
numads        440 non-null object
numparc       238 non-null object
typelot       441 non-null object
nblot         427 non-null float64
datedecist    129 non-null float64
daact1        3 non-null float64
vocation      438 non-null object
maouvr        443 non-null object
etape         445 non-null object
contrplh      145 non-null object
datesig       445 non-null object
date_modif    445 non-null object
nomlot        146 non-null object
decis         321 non-null object
datedecis     313 non-null object
datedecism    96 non-null float64
datetrans     10 non-null float64
modame        36 non-null object
nature        29 non-null object
nblog         14 non-null float64
prlog         6 non-null float64
amecrea       13 non-null object
nblogplh      12 non-null float64
plh           13 non-null object
obs           9 non-null object
urbcrea       5 non-null object
dtypes: float64(9), int64(3), object(20)
memory usage: 76.5+ KB

In [6]:
data.head()

,Geo Point,Geo Shape,objectid,id_lot,codcom,surfha,numads,numparc,typelot,nblot,...,datetrans,modame,nature,nblog,prlog,amecrea,nblogplh,plh,obs,urbcrea
0,"47.9915664577, -1.61094049522","{""type"": ""Polygon"", ""coordinates"": [[[-1.61118...",13,33,35032,0.048045,DP 35032 13 M0006,ZI745,Déclaration préalable,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"48.0080045166, -1.70175912004","{""type"": ""Polygon"", ""coordinates"": [[[-1.70158...",76,172,35363,0.503351,PA 35363 09 M0001,NaN,Permis d'aménager,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"48.1820809801, -1.65971248391","{""type"": ""Polygon"", ""coordinates"": [[[-1.65972...",3609,560,35024,0.053181,DP 35024 17 M0072,"AE0020p, 021p",Déclaration préalable,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"48.1217778972, -1.81627526973","{""type"": ""Polygon"", ""coordinates"": [[[-1.81657...",69,149,35131,0.139264,PA 35131 12 M0001,AH43,Permis d'aménager,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"48.1801622282, -1.66235362054","{""type"": ""Polygon"", ""coordinates"": [[[-1.66218...",65,145,35024,0.053202,DP 35024 14 M0009,NaN,Déclaration préalable,1.0,...,NaN,Régie directe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
new_data =  data.sort_values(by=['objectid'])
#new_data["rentrée"].max()
new_data.columns.tolist()
new_data_sum = pd.concat((new_data['objectid'],new_data['vocation'],new_data['etape'],new_data['datesig'],new_data['nomlot']),
                         axis=1)

In [9]:
new_data_sum.count()

objectid    445
vocation    438
etape       445
datesig     445
nomlot      146
dtype: int64

In [10]:
new_data_sum

,objectid,vocation,etape,datesig,nomlot
407,1,Habitat,En cours d'aménagement,20141105JC,Le Clos de la Vallée
26,2,Habitat,En cours d'aménagement,20131202CV,Domaine de Bon Air
373,3,Habitat,En cours d'aménagement,20141112JC,Les Communs
412,4,Habitat,En cours d'aménagement,20170627MB,Le Landrot
245,5,Habitat,En cours d'aménagement,20131120JC,Maison Blanche
192,7,Habitat,En cours d'aménagement,20131120JC,NaN
428,8,Habitat,En cours d'aménagement,20140806JC,Le Mouton Blanc
377,11,Habitat,En cours d'aménagement,20131120JC,Les Coteaux de l'Yaigne
319,12,Habitat,En cours d'aménagement,20131120JC,Les Roseaux
0,13,Habitat,En cours d'aménagement,20131120JC,NaN
312,18,Habitat,En cours d'aménagement,20131120JC,NaN
112,27,Mixte,En cours d'aménagement,20140522JC,La Basse Renaudais (nord)
419,28,Mixte,En cours d'aménagement,20140522JC,Le Trieux 1
107,29,Habitat,En cours d'aménagement,20140522JC,La Passerelle
226,30,Mixte,En cours d'aménagement,20140522JC,Depouez
321,32,Habitat,En cours d'aménagement,20140522JC,Le Trieux 2
275,33,Habitat,En cours d'aménagement,20140522JC,La Haute Robinais
132,34,Mixte,En cours d'aménagement,20140522JC,La Basse Renaudais (sud)
385,38,Habitat,En cours d'aménagement,20131202CV,NaN
15,39,Habitat,En cours d'aménagement,20131204CV,Les Vergers d'Apigné
328,40,Habitat,En cours d'aménagement,20140806JC,NaN
102,41,Habitat,En cours d'aménagement,20140806JC,NaN
127,42,Habitat,En cours d'aménagement,20140806JC,NaN
190,43,Habitat,En cours d'aménagement,20140806JC,NaN
326,44,Habitat,En cours d'aménagement,20140806JC,La Haie Longue II
416,46,Habitat,En cours d'aménagement,20150203JC,NaN
149,47,Habitat,En cours d'aménagement,20150203JC,NaN
186,50,Habitat,En cours d'aménagement,20131209CV,NaN
222,53,Habitat,En cours d'aménagement,20141114JC,La Basse Robinais
56,54,Habitat,En cours d'aménagement,20140522JC,NaN
...,...,...,...,...,...
257,9213,Habitat,En cours d'aménagement,20180328CB,NaN
354,9214,Habitat,En cours d'aménagement,20180328CB,Rue du pâtis des Noës
258,9215,Habitat,En cours d'aménagement,20180328CB,NaN
355,9216,Habitat,En cours d'aménagement,20180328CB,Les Communs
356,9610,Habitat,En cours d'aménagement,20180514CB,NaN
259,9612,Habitat,En cours d'aménagement,20180514CB,NaN
440,9613,Habitat,En cours d'aménagement,20180514CB,NaN
357,9614,Habitat,En cours d'aménagement,20180514CB,NaN
79,9615,Habitat,En cours d'aménagement,20180514CB,NaN
171,9616,Habitat,En cours d'aménagement,20180514CB,NaN
80,10010,Habitat,En cours d'aménagement,20180515CB,NaN
358,10410,Habitat,En cours d'aménagement,20180717CB,NaN
359,10412,Habitat,En cours d'aménagement,20180717CB,NaN
441,10413,Habitat,En cours d'aménagement,20180717CB,NaN
262,10414,Habitat,En cours d'aménagement,20180717CB,NaN
263,10415,Habitat,En cours d'aménagement,20180717CB,NaN
172,10416,Habitat,En cours d'aménagement,20180717CB,NaN
81,10417,Habitat,En cours d'aménagement,20180717CB,NaN
442,10418,Habitat,En cours d'aménagement,20180717CB,NaN
443,10419,Habitat,En cours d'aménagement,20180717CB,NaN
260,10421,Habitat,En cours d'aménagement,20180717CB,NaN
376,10422,Habitat,En cours d'aménagement,20180717CB,NaN
264,10423,Habitat,En cours d'aménagement,20180717CB,La Touche
360,10424,Habitat,En cours d'aménagement,20180717CB,NaN
444,10810,Habitat,En cours d'aménagement,20180817CB,NaN
84,11210,Habitat,En cours d'aménagement,20180820CB,NaN
85,11211,Habitat,En cours d'aménagement,20180820CB,Lariboisière
265,11212,Habitat,En cours d'aménagement,20180820CB,NaN
86,11213,Habitat,En cours d'aménagement,20180820CB,NaN
174,11214,Habitat,En cours d'aménagement,20180820CB,NaN

In [64]:
#new_data_sum['datesig'] = pd.to_datetime(new_data_sum['datesig'], format='%d-%m-%Y')

In [11]:
new_data_sum['datesig']=new_data_sum['datesig'].str.slice(start=0, stop=8)
new_data_sum["year"]=new_data_sum['datesig'].str.slice(start=0, stop=4)
new_data_sum["month"]=new_data_sum['datesig'].str.slice(start=4, stop=6)
new_data_sum["day"]=new_data_sum['datesig'].str.slice(start=6, stop=8)
new_data_sum
groupbyyear=new_data_sum['year'].groupby(new_data_sum['year'],axis=0).count().reset_index(name="NumberConstructionPeerYear")
groupbyyear

   year  NumberConstructionPeerYear
0  2013                          11
1  2014                         104
2  2015                          88
3  2016                          86
4  2017                          96
5  2018                          60

In [71]:
#new_data_sum['datesig'] = pd.to_datetime(new_data_sum['datesig'], format='%Y%m%d')

In [62]:
#new_data_sum['datesig'] = datetime.strptime(new_data_sum['datesig'], '%Y %m %d')

In [12]:
groupbyyear.to_csv("NumberConstructionPerYear.csv",sep=";",header=["NumberConstructionPeerYear"])